body {
    padding: 0px;
    margin: 0px;    
    font-family: 'Autour One', cursive;
}

hr {
    border-color: #954010; 
}

/* ----------- Weather Panel ----------- */

.weather-base-panel {
    margin-top: 200px;
    background-color: blanchedalmond;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;

    min-height: 200px;
    min-width: 200px;    
}

/* IPhone 5s */
@media (min-width: 320px) and (min-height: 568px) {
    .weather-base-panel {
        margin-top: 75px;
    }
}

/* IPhone 5s */
@media (min-width: 568px) and (min-height: 320px) {
    .weather-base-panel {
        margin-top: 10px;
    }
}

/* IPhone 6s & IPhone 7 */
@media (min-width: 375px) and (min-height: 667px) {
    .weather-base-panel {
        margin-top: 100px;
    }
}

/* IPhone 6 Plus & IPhone 7 Plus */
@media (min-width: 414px) and (min-height: 736px) {
    .weather-base-panel {
        margin-top: 150px;
    }
}

/* IPad */
@media (min-width: 768px) and (min-height: 1024px) {
    .weather-base-panel {
        margin-top: 250px;
    }
}

/* Blackberry Playbook */
@media (min-width: 1024px) and (min-height: 600px) {
    .weather-base-panel {
        margin-top: 75px;
    }
}

@media (min-width: 600px) and (min-height: 1024px) {
    .weather-base-panel {
        margin-top: 175px;
    }
}

/* Kindle Fire */
@media (min-width: 1280px) and (min-height: 800px) {
    .weather-base-panel {
        margin-top: 175px;
    }
}

@media (min-width: 800px) and (min-height: 1280px) {
    .weather-base-panel {
        margin-top: 275px;
    }
}

/* Nexus 7 */
@media (min-width: 960px) and (min-height: 600px) {
    .weather-base-panel {
        margin-top: 75px;
    }
}

@media (min-width: 600px) and (min-height: 960px) {
    .weather-base-panel {
        margin-top: 275px;
    }
}

/* Laptops */
@media (min-width: 1366px) and (min-height: 768px) {
    .weather-base-panel {
        margin-top: 140px;
    }
}

@media (min-width: 768px) and (min-height: 1366px) {
    .weather-base-panel {
        margin-top: 375px;
    }
}

@media (min-width: 1280px) and (min-height: 720px) {
    .weather-base-panel {
        margin-top: 140px;
    }
}

@media (min-width: 720px) and (min-height: 1280px) {
    .weather-base-panel {
        margin-top: 375px;
    }
}

/* Lumia 520 */
@media (min-width: 320px) and (min-height: 533px) {
    .weather-base-panel {
        margin-top: 50px;
    }
}

@media (min-width: 533px) and (min-height: 320px) {
    .weather-base-panel {
        margin-top: 10px;
    }
}

/* Galaxy Note 3 */
@media (min-width: 360px) and (min-height: 640px) {
    .weather-base-panel {
        margin-top: 100px;
    }
}

@media (min-width: 533px) and (min-height: 320px) {
    .weather-base-panel {
        margin-top: 10px;
    }
}

.weather-base-panel .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

.weather-base-panel .subtitle {
    font-size: 16px;
}

/* ----------- Current Weather ----------- */

.weather-img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

.weather-temp {
    font-size: 40px;
    font-weight: bold;
}

.weather-current {
    margin-top: 16px;
    font-size: 16px;
    margin-bottom: 6px;
}

.weather-wind-speed {
    font-size: 16px;    
}

/* ----------- Forecast ----------- */

.forecast-day {
    font-size: 18px;
}

@media (min-width: 1024px) {
    .forecast-day {
        font-size: 16px;
        font-weight: bold;
    }
}

.forecast-mini-image {
    width: 35px;
    height: 35px;
    display: block;
}

@media (min-width: 768px) {
    .forecast-mini-image {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 1024) {
    .forecast-mini-image {
        display: initial;
        width: 35px;
        height: 100px;
        vertical-align: middle;        
    }
}

.forecast-col-no-pad {
    padding-left: 0px;
    padding-right: 0px;
}

.forecast-weather {
    font-size: 14px;
}

.forecast-mini-image-md {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

/* ----------- Backgrounds ----------- */

.background_0 {
    background-image: url(../img/background_zurich_weather.jpg)
}

.background_1 {
    background-image: url(../img/background_thunderstorm.jpg)
}

.background_2 {
    background-image: url(../img/background_drizzle.jpg)
}

.background_3 {
    background-image: url(../img/background_rain.jpg)
}

.background_4 {
    background-image: url(../img/background_snow.jpg)
}

.background_5 {
    background-image: url(../img/background_clear.jpg)
}

.background_6 {
    background-image: url(../img/background_clouds.jpg)
}

/* ----------- temp button ----------- */

.btn-temp {
  background-color: #954010;
  border-color: #954010;
}
.btn-temp:hover,
.btn-temp:focus,
.btn-temp:active,
.btn-temp.active {
  background-color: #7e360e;
  border-color: #672c0b;
}
.btn-temp.disabled:hover,
.btn-temp.disabled:focus,
.btn-temp.disabled:active,
.btn-temp.disabled.active,
.btn-temp[disabled]:hover,
.btn-temp[disabled]:focus,
.btn-temp[disabled]:active,
.btn-temp[disabled].active,
fieldset[disabled] .btn-temp:hover,
fieldset[disabled] .btn-temp:focus,
fieldset[disabled] .btn-temp:active,
fieldset[disabled] .btn-temp.active {
  background-color: #954010;
  border-color: #954010;
}

.btn-temp-text {
    color: white !important;
}
