body {
    padding: 0px;
    margin: 0px;    
    font-family: 'Autour One', cursive;
}

hr {
    border-color: #954010; 
}

/* ----------- Weather Panel ----------- */

.weather-base-panel {
    background-color: blanchedalmond;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 15em;
}


.weather-base-panel .title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 6px;
}

.weather-base-panel .subtitle {
    font-size: 22px;
    margin-bottom: 15px;
}

@media (max-height: 800px) {
    .weather-base-panel {
        margin-top: 8em;
    }

    .weather-base-panel .title {
        font-size: 22px;
        margin-bottom: 6px;
    }

    .weather-base-panel .subtitle {
        font-size: 18px;
        margin-bottom: 15px;
    }
}

@media (max-height: 768px) {
    .weather-base-panel {
        margin-top: 12em;
    }
}

@media (max-height: 667px) {
    .weather-base-panel {
        margin-top: 8em;
    }
}

@media (max-height: 640px) {
    .weather-base-panel {
        margin-top: 6em;
    }

    .weather-base-panel .title {
        font-size: 22px;
        margin-bottom: 6px;
    }

    .weather-base-panel .subtitle {
        font-size: 18px;
        margin-bottom: 15px;
    }
}

@media (max-height: 568px) {
    .weather-base-panel .title {
        font-size: 20px;
        margin-bottom: 6px;
    }
}

/* ----------- Current Weather ----------- */

.weather-img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

.weather-temp {
    font-size: 40px;
    font-weight: bold;
}

.weather-current {
    margin-top: 16px;
    font-size: 22px;
    margin-bottom: 6px;
}

.weather-wind-speed {
    font-size: 16px;    
}

.weather-base-panel .subtitle {
    font-size: 22px;
    margin-bottom: 15px;
}

@media (max-height: 736px) {
    .weather-img {
        width: 85px;
        height: 85px;
    }

    .weather-temp {
        font-size: 35px;
        font-weight: bold;
    }
}

@media (max-height: 667px) {
    .weather-img {
        width: 85px;
        height: 85px;
    }

    .weather-temp {
        font-size: 35px;
        font-weight: bold;
    }
}

@media (max-height: 640px) {
    .weather-img {
        width: 75px;
        height: 75px;
    }

    .weather-temp {
        font-size: 30px;
        font-weight: bold;
    }
}

@media (max-height: 568px) {
    .weather-img {
        width: 75px;
        height: 75px;
    }

    .weather-temp {
        font-size: 30px;
        font-weight: bold;
    }
}

/* ----------- Forecast ----------- */

.forecast-day {
    font-size: 18px;
}

@media (min-width: 1024px) {
    .forecast-day {
        font-size: 16px;
        font-weight: bold;
    }
}

.forecast-mini-image {
    width: 35px;
    height: 35px;
    display: block;
}

@media (min-width: 768px) {
    .forecast-mini-image {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 1024) {
    .forecast-mini-image {
        display: initial;
        width: 35px;
        height: 100px;
        vertical-align: middle;        
    }
}

.forecast-col-no-pad {
    padding-left: 0px;
    padding-right: 0px;
}

.forecast-weather {
    font-size: 14px;
}

.forecast-mini-image-md {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

/* ----------- Backgrounds ----------- */

.background_0 {
    background-image: url(../img/background_zurich_weather.jpg)
}

.background_1 {
    background-image: url(../img/background_thunderstorm.jpg)
}

.background_2 {
    background-image: url(../img/background_drizzle.jpg)
}

.background_3 {
    background-image: url(../img/background_rain.jpg)
}

.background_4 {
    background-image: url(../img/background_snow.jpg)
}

.background_5 {
    background-image: url(../img/background_clear.jpg)
}

.background_6 {
    background-image: url(../img/background_clouds.jpg)
}

/* ----------- temp button ----------- */

.btn-temp {
  background-color: #954010;
  border-color: #954010;
}
.btn-temp:hover,
.btn-temp:focus,
.btn-temp:active,
.btn-temp.active {
  background-color: #7e360e;
  border-color: #672c0b;
}
.btn-temp.disabled:hover,
.btn-temp.disabled:focus,
.btn-temp.disabled:active,
.btn-temp.disabled.active,
.btn-temp[disabled]:hover,
.btn-temp[disabled]:focus,
.btn-temp[disabled]:active,
.btn-temp[disabled].active,
fieldset[disabled] .btn-temp:hover,
fieldset[disabled] .btn-temp:focus,
fieldset[disabled] .btn-temp:active,
fieldset[disabled] .btn-temp.active {
  background-color: #954010;
  border-color: #954010;
}

.btn-temp-text {
    color: white !important;
}
