.weatherPanel {
    margin-top: 80%;
}

.title {
    font-size: 20px;
    margin-top: 0px;
}

.location {
    font-size: 15px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.weatherImage {
    width: 100px;
    height: 100px;
    margin-left: auto;
}

.temp {
    font-size: 30px;
    font-weight: 700;
    margin-top: 25px;
}

.background_0 {
    background-image: url(../img/background_zurich_weather.jpg)
}

.background_1 {
    background-image: url(../img/background_thunderstorm.jpg)
}

.background_2 {
    background-image: url(../img/background_drizzle.jpg)
}

.background_3 {
    background-image: url(../img/background_rain.jpg)
}

.background_4 {
    background-image: url(../img/background_snow.jpg)
}

.background_5 {
    background-image: url(../img/background_clear.jpg)
}

.background_6 {
    background-image: url(../img/background_clouds.jpg)
}
